@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

p {
    margin: 1em 0;
    text-align: center;
    line-height: 1.6;
    color: #555;
}

.vertLine {
    border-right: 2px solid #ff6b6b;
    height: 100%;
}

.right {
    margin: 1em;
    float: right;
}

#drop-zone {
    border: 2px dashed #aaa;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 1em;
    background-color: #eaf4fc;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#drop-zone:hover {
    background-color: #d4e9f9;
    border-color: #2E86C1;
}

#title {
    color: #2E86C1;
    margin: 1em;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    transition: transform 0.2s ease;
}

#title:hover {
    color: #1b5e8c;
    transform: translateY(-2px);
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 100%;
    background: #fff;
    border-radius: 1px;
    border-collapse: collapse;
    margin: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th {
    border-bottom: 2px solid #2E86C1;
    color: #2E86C1;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.75em 1em;
    text-align: right;
    cursor: pointer; /* Add this line to change the cursor on hover */
    user-select: none; /* Prevent text selection */
    transition: background-color 0.2s ease;
}

th.histogram-header {
    text-align: left;
}

th.sortable-header {
    cursor: pointer;
    position: relative;
    user-select: none;
}


td {
    color: #555;
    font-weight: 400;
    font-size: 0.9rem;
    padding: 0.5em 0.5em;
    text-align: right;
    font-family: 'Roboto Mono', monospace; /* Apply the monospace font to table cells */
}

tr.total-row {
  border-top: 2px solid #1b5e8c;
  background-color: #d1d1d2;
}
tr.total-row:hover {
  background-color: #1b5e8c;
}

tr.total-row td {
  color: #555;
  font-weight: bold;
}

/* tbody tr {
    transition: background 0.2s ease;
}

tbody tr:hover {
    background: #f1f8ff;
} */

.usercontrols {
    cursor: pointer;
    margin: 0.1em 0.2em;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    background-color: #2E86C1;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 0.9rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.usercontrols-cancel {
    background-color: #f37736;
}
.usercontrols:active {
    transform: translateY(2px);
}
.usercontrols:hover {
    background-color: #1b5e8c;
    color: #fff;
    transform: translateY(-2px);
}

select.usercontrols {
    font-family: 'Inter', sans-serif; /* Ensure the font matches your body font */
    font-size: 0.9rem; /* Adjust font size */
    /*height: 40px;*/
    padding: 8px;
    border: 1px solid #2E86C1;;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    appearance: none; /* Remove default browser styling */
    outline: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Apply font styles to the options inside the dropdown */
select.usercontrols option {
    font-family: 'Inter', sans-serif; /* Ensure the font is applied to options */
    font-size: 0.9rem; /* Match the font size of the select element */
    background-color: #1b5e8c;
    color: #fff;
    appearance: none; /* Remove default browser styling */
}

.popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #2E86C1;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    z-index: 1000;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.progress-bar-container {
    width: 100%;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-bar {
    height: 100%;
    background-color: #2E86C1;
    transition: width 0.2s ease;
}

td, th {
    vertical-align: bottom; /* Align content to the bottom of the cell */
}
.table-scroll {
    max-height: 80vh;      /* Adjust as needed */
    overflow-y: auto;
    margin-bottom: 1em;
    border-radius: 4px;
    background: #fff;
}

/* Make the table header sticky */
#resultstable thead th {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.04);
}

td.histogram-cell, th.histogram-cell {
    width: 200px; /* Set a fixed width for the histogram column */
    max-width: 2000px; /* Ensure the column doesn't grow beyond this width */
    vertical-align: bottom;
    padding: 0.5em 0.5em;
}

.histogram-cell {
    display: flex;
    align-items: flex-end; /* Align bars to the bottom */
    justify-content: space-between; /* Space bars evenly */
    height: 50px; /* Set a fixed height for the histogram */
    /*overflow: hidden; */
    /*background-color: #f9f9f9; /* Light background for contrast */
    /*border: 1px solid #ddd; /* Add a border around the histogram */
    padding: 0.5px;
    box-sizing: border-box;
    position: relative;
}

.histogram-cell .bar {
    width: calc(100% / 30 - 1px); /* Adjust width to account for the border */
    background-color: #2E86C1; /* Default bar color */
    border: 1px solid transparent; /* Add a small border between bins */
    /*position: relative; /* Required for tooltip positioning */
    cursor: pointer; /* Indicate interactivity */
    transition: background-color 0.3s ease, height 0.3s ease; /* Smooth transitions */
}

.histogram-cell .bar:hover {
    background-color: #1b5e8c; /* Highlight color on hover */
}

.histogram-cell .bar:nth-child(10n) {
    background-color:#f37736; /* Set the 10th bar to red */
}

.histogram-cell .bar:hover {
    background-color: #1b5e8c; /* Highlight color on hover */
}

.tooltip {
    /*content: attr(data-tooltip); /* Use the data-tooltip attribute for content */
    position: absolute;
    /*bottom: 100%; /* Position above the bar */
    top: -35px; /* Position above the bar */
    left: 50%;
    transform: translateX(-50%);
    background-color: #1b5e8c; /* Tooltip background color */
    color: #fff; /* Tooltip text color */
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap; /* Prevent text wrapping */
    z-index: 10;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Prevent interaction with the tooltip */
    transition: opacity 0.2s ease; /* Smooth fade-in effect */
}

.histogram-cell .bar:hover .tooltip {
    opacity: 1; /* Show the tooltip on hover */
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.app-footer {
    width: 100%;
    text-align: right;
    padding: 5px 5px;
    background-color: #f9f9f9; /* Light background for contrast */
    color: #555; /* Text color */
    font-size: 0.8rem; /* Slightly smaller font size */
    border-top: 1px solid #ddd; /* Add a subtle border at the top */
    position: fixed; /* Keep the footer at the bottom of the page */
    bottom: 0;
    left: 0;
}